<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Enviar parámetros del request HTTP GET</title>
</head>
<body>
    <h1>Enviar parámetros del request HTTP GET</h1>
    <ul>
        <li>
            <a th:href="@{/params/string(texto='Hola Andres!')}">/params/string?texto=Hola Andres!</a>
        </li>
        <li>
            <a th:href="@{/params/string(texto='Que tal John?')}">/params/string?texto=Que tal John?</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params(saludo='Como estas Andres?', numero=10)}">/params/mix-params?saludo=Como estas Andres?&numero=10</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params-request(saludo='Como estas Andres?', numero=10)}">/params/mix-params-request?saludo=Como estas Andres?&numero=10</a>
        </li>
    </ul>
</body>
</html>